* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

h1 {
    font-size: 50px;
}

table tbody{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

table th {
    font-weight: bloder;
    font-size: 30px;
    padding: 10px;
    text-transform: uppercase;
}

table tr.cabecalho {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

table tr.infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 26px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
}


table tr td {
    padding: 10px;
}

.add{
    display: grid;
    place-items: center;
    background-color: gray;
}

.add:hover{
    display: grid;
    place-items: center;
    background-color: rgba(128, 128, 128, 0.473);
}

.botao_add{
    text-decoration: none;
    width: 100%;
    text-align: center;
    background: gray;
}

.botao_add:hover{
    text-decoration: none;
    width: 100%;
    text-align: center;
    background: rgba(128, 128, 128, 0.356);
}